.header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #5866dc;
  height: 85px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-decoration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 190, 114);
    margin: 0;
}
li{
    width: 100%px;
    color: white;
}