.header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #5866dc;
  height: 85px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-decoration-movies{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
li{
    color: white;
}
.container-div{
  display: flex;
  justify-content: center;
}
.search-results{
  display: flex;
  flex-wrap: wrap;
}
.pagination-class{
  display: flex;
  justify-content: center;
  flex-direction: row;
}