img{
    width: 150px;
}
.map-class{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.map-class:hover{
    transform: scale(1.09);
    transition: 0.4s;
}
.search-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar-class{
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 25px;
    height: 40px;
    width: 300px;
    outline: none;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
}
.container-div{
    display: flex;
    flex-direction: column;
}
.search-div{
    display: flex;
    justify-content: center;
}
.films-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    gap: 40px;
    height: 90vh;
}
h1{
    text-align: center;
}